html {
  -webkit-print-color-adjust: exact;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6, p, span, div, li, blockquote, pre, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol > li {
  margin-left: 1.5em; }

ol > li > ol {
  list-style-type: lower-alpha; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%; }

main {
  display: block; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

address {
  font-style: italic;
  margin: 0 0 1.6em; }

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help; }

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

a {
  text-decoration: none; }

dd {
  padding-left: 2em; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

figure {
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  margin-bottom: 4em; }

*:focus {
  outline: 0; }

@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  background: white;
  color: #202020; }

* ::-moz-selection {
  background-color: #cccccc;
  color: #999999; }
* ::selection {
  background-color: #cccccc;
  color: #999999; }

@media screen and (min-width: 1000px) {
  .mobile-only {
    display: none; } }

@media screen and (max-width: 1000px) {
  .desktop-only {
    display: none; } }

html {
  font-size: 10px; }

body {
  font-weight: 300;
  font-family: "Plain", sans-serif; }

.type--xs, header, footer {
  font-size: 11px;
  line-height: 1.2; }

.type--s, main {
  font-size: 13px;
  line-height: 1.33; }

.type--m, .section__title, .section--object h1 {
  font-size: 24px;
  line-height: 1.33; }

.type--l {
  font-size: 36px;
  line-height: 1.5; }

.type--xl {
  font-size: 48px;
  line-height: 1.5; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  padding: 56px 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

header, footer {
  color: #999999; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 56px 58px; }

.header__info {
  padding-bottom: 54px; }
  .header__info div {
    width: 33.3333333333%; }

.header__branding {
  padding-bottom: 54px; }
  .header__branding .header__logo {
    width: 33.3333333333%; }
    .header__branding .header__logo img {
      max-width: 100px; }

.side {
  width: 33.3333333333%; }
  .side div {
    padding-bottom: 12px;
    max-width: 65%; }

.content {
  width: 66.6666666667%; }

.content__info {
  padding-bottom: 54px; }
  .content__info div {
    width: 50%; }

.content__data ul {
  border-top: 1px solid #999999;
  padding-bottom: 54px; }
  .content__data ul li {
    padding-top: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }

.section {
  padding-bottom: 54px; }

.section__title {
  font-weight: bold; }

.section--activities ul {
  padding-top: 12px; }

.footer__info div {
  width: 33.3333333333%; }

.footer__iban,
.footer__swift {
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
