extends baseInvoiceLayout

block content
  header
    div.row.header__info
      div.header__legal
        | Giga Design Studio Srls
        br
        | P.IVA 09774790969
      div.header__address
        | Via Soperga, 35
        br
        | 20127, Milano (MI)
      div.header__contact
        | gigadesignstudio.com
        br
        | info@gigadesignstudio.com
    div.row.header__branding
      div.header__logo
        img.className#IdName(src="http://localhost:3000/GigaDesignStudio.png" alt="Image Title" height="100" width="100")
  main
    div.row
      div.side
        | Tekmar
        br
        | via del pollo 1
      div.content
