extends baseInvoiceLayout

block content
  header
    div.row.header__info
      div.header__legal
        | Giga Design Studio Srls
        br
        | P.IVA 09774790969
      div.header__address(style="color: green")
        | Via Soperga, 35
        br
        | 20127, Milano (MI)
      div.header__contact(style="color: red")
        | gigadesignstudio.com
        br
        | info@gigadesignstudio.com
    div.row.header__branding
      div.header__logo
        img.className#IdName(src="http://localhost:3000/GigaDesignStudio.png" alt="Image Title")
  main
    div.row
      div.side
        | #{ customer.business_name }
        br
        | #{ customer.street }
      div.content
