extends ../layout

block content
	.main.container
			.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Fatturator login page
						h2.display-4.m-b-2 Sign Up

						// register form
						form(method='POST' action='/auth/signup')
						div.form-group
							label(for='name') Name:
							input#name.form-control(type='text', placeholder='first name' name='name')
						div.form-group
							label(for='surname') Surame:
							input#surname.form-control(type='text', placeholder='last name' name='surname')
						div.form-group
							label(for='email') Email:
							input#email.form-control(type='email', placeholder='name@email.com' name='email')
						div.form-group
							label(for='securityAnswer') What will you do when you retire? (security question)
							input#securityAnswer.form-control(type='text', placeholder='title of book' name='securityAnswer')
						div.form-group
							label(for='password') Password:
							input#password.form-control(type='password' name='password')
						div.form-group
							label(for='passwordConfirm') Confirm Password:
							input#passwordConfirm.form-control(type='password' name='passwordConfirm')
						button.btn.btn-primary(type='submit') Sign up
						
						//- h2.display-4.m-b-2 or Sign In
						
						//- form(method='POST' action='/auth/signin')
						//- div.form-group
						//- 	label(for='email') Email:
						//- 	input#email.form-control(type='email', placeholder='name@email.com' name='email')
						//- div.form-group
						//- 	label(for='password') Password:
						//- 	input#pw.form-control(type='password' name='password')
						//- button.btn.btn-primary(type='submit') Sign in